*{
  margin: 0px;
  padding: 0px;

}
.container{
    background-color: rgb(137, 250, 127);
    max-height: 100%;
    max-width: 80%;
    margin: auto;

}
.container h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 input{
    margin: 25px;
    
    width: 70%;
    padding: 15px;
    border: 4px solid black ;
    /* border-style: 2px solid; */
    border-radius: 10px;
}
button{ 
    padding:15px ;
    background-color: rgb(3, 180, 3);
    margin: 25px;
    border: 4px solid black ;
    /* border-style: 2px solid; */
    border-radius: 10px;
   

}
a:link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}